{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-med-2">
        <p> </p>
    </div>
    <div class="col-med-8">
        <h1 class="text-alignment">Existing Users</h1>
        <!--Insert the proper link for the login page in place of hashtag-->
        <!--<p class = text-alignment><a href = "#">Already Registered? Login</a> </p>-->
        <!---->
        <form id="login-form" action="#">
            <div class="form-row align-items-center">
                <div class="col-sm-4 my-1">
                    <label for="email" class="col-sm-2 col-form-label rounded ">Email</label>
                     <input id="email" type="text" class="form-control rounded extra-round" placeholder="myemail@email.com">
                     <label for="password" class="col-sm-2 col-form-label rounded ">Password</label>
                     <input id="password" type="password" placeholder="*********" class="form-control rounded">
                     <input id="submit-button" type="submit" class="btn btn-primary button-color rounded" value="LOGIN">
                </div>
            </div>
        </form>
    </div>
    <div class="col-med-2">
        <p> </p>
    </div>
    <!--Insert the proper link for the Forgot Your Password page in place of hashtag-->
    <a  class="text-alignment" href="#">Forgot Your Password?</a>
    <!--Insert the proper link for the Not Registered page in place of hashtag-->
    <a class="text-alignment" href="#">Not Registered?</a>
</div>
{% endblock %}