{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-sm">
        <div class="form1">
            <form name = "login" action="{{url_for("login")}}" method="post">
            <!--User inputs their email and their password within the form-->
                <label for="useremail">"Email:"</label>
                <input type = "text" name="useremail" placeholder="name@aggies.ncat.edu"> <br>
                <label for="userpass">"Password:"</label>
                <input type = "text" name="userpass" placeholder="*********"><br>
                <input type="submit">
                </input>
            </form>
    </div>
</div>
    <div class="col-sm">
        <div class="form1">
            <form name = "register">
            <label for="firstname"> "First name:" </label> 
            <input type = "text" name = "firstname"> <br>
            <label for="lastname">"Last name:"</label>
            <input type = "text" name = "lastname"><br>
            <label for="email">"Email:"</label>
            <input type = "text" name = "email"><br>
            <label for="bannerid">"Banner ID:"</label>
            <input type = "number" name = "bannerid"><br>
            <label for="password">"Password:"</label>
            <input type = "text" name = "password"><br>
            <label for="confpass">"Confirm Password:"</label>
            <input type = "text" name = "password"><br>
            <label for="status">"Status:"</label>
            <select id = "status" name = "status">
                <option value = "student">"Student"</option>
                <option value = "advisor">"Advisor"</option>
                <option value = "chair/director">"Chair/Director"</option>
            </select><br>
            <!--Student only--->
            <label for="department">"Department"</label>
            <input type = "text" name = "department"><br>
            <label for="course_program">"Course/Program"</label>
            <input type = "text" name = "course_program"><br>
            <label for="advisor_name">"Advisor's name"</label>
            <input type = "text" name = "advisor_name"><br>
            <!--Advisor or Department Chair only--->
            <label for="depart_area">"Department/Area of Concentration"</label>
            <input type = "text" name = "depart_area"><br>
            <input type = "submit" value = "Register!!">
            </form>
        </div>
    </div>
</div>
{% endblock %}
