<!DOCTYPE html>
    <form name = "login" action="{{url_for("login")}}" method="post">
        <!--User inputs their email and their password within the form-->
        <input type = "text" name="useremail" placeholder="name@aggies.ncat.edu">
        <input type = "text" name="userpass" placeholder="*********">
        <input type="submit">
    </input>
    </form>
    
<form name = "register">
    <label for="firstname"> "First name:" </label>
  <input type = "text" name = "firstname">
  <label for="lastname">"Last name:"</label>
  <input type = "text" name = "lastname">
  <label for="email">"Email:"</label>
  <input type = "text" name = "email">
  <label for="bannerid">"Banner ID:"</label>
  <input type = "text" name = "bannerid">
  <label for="password">"Password:"</label>
  <input type = "text" name = "password">
</form>

</html>

