{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-2 blue-square extra-round">
            <div>
                <a href="#" class="plain-link">Student Profile</a>
            </div>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2 blue-square extra-round">
            <div>
                <a href="#" class="plain-link">Plan of Study</a>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-2 blue-square extra-round">
            <div>
                <a href="#" class="plain-link">Milestones</a>
            </div>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2 blue-square extra-round">
            <div>
                <a href="#" class="plain-link">Alerts</a>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
            <h2>My Progress</h2>
            <div class="row">
                <canvas id="progress-chart"></canvas>
                <img id="prog-chart" src="data:image/png;base64,{{ credits_plot }}">
                <canvas id="completion-chart"></canvas>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
            <h2>My Portfolio</h2>
            <div class="row">
                
                <h5>The GPA:</h5>
                <h4 id="gpa"></h4>
                <h5>Class Schedule</h5>
                <h4><a href = "#">Click to View</a></h4>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
            <h2>My Contacts</h2>
        </div>
        <div class="col-sm-7"></div>
    </div>
    <br>
</div>
{% endblock %}